<div class="col-md-6 offset-md-3 mt-5">
    <div><h1>LOGO AQUI</h1></div>
    <div class="card">
        <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="usuario">Usuário: </label>
                    <input type="text" formControlName="usuario" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.usuario.errors }" />
                    <div *ngIf="logado && f.usuario.errors" class="invalid-feedback">
                        <div *ngIf="f.usuario.errors.required">Insira um usuário</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="senha">Senha: </label>
                    <input type="senha" formControlName="senha" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.senha.errors }" />
                    <div *ngIf="logado && f.senha.errors" class="invalid-feedback">
                        <div *ngIf="f.senha.errors.required">Insira uma senha</div>
                    </div>
                </div>
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Entrar
                </button>
                <a class="criarConta" href="/register">Registrar</a>
                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
            </form>
        </div>
    </div